@CHARSET "UTF-8";
/* 该文件中css以sls开头     */

.sls-required-icon{
	color:red
}
.transparent{
	filter:alpha(opacity=100);  
	/*IE*/
	-moz-opacity:1.0;
	/*Moz+FF*/  
	opacity:1.0;height:300px;width:500px;  
	background:#ccc;left:50%;top:50%;margin-top:-150px;  
	margin-left:-250px;position:absolute;z-index:99;  
	text-align:center;padding:20px;
}